


html  {
  background-color:#4B75F0;
  background-image: url("manga.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%  ;
  font-family:Arial, Helvetica, sans-serif;


}

 


			
			* {
				margin:0px;
				padding:0px;
   
    


			}
			
			#header {
                                
				margin: 25 auto;
				width:829px;
				font-family:Arial, Helvetica, sans-serif;
                                font-size:large;
                                opacity: 1.0;
                                float:right;
                                 text-align: center;

text-shadow:
      1px 1px 1px #ffffff;
      
			}
                       

       

			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
                                   text-align: left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 20px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:center center;
				min-width:540px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:center;
			}
			
			.nav li ul li ul {
				right:-540px;
				top:0px;
			}
			
	#vikingos {
  background-color: #F86868;
  text-align: left;
  position: center;
 
  opacity: 0.9;
  margin:auto;
  width:500px;

  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  
 margin: 0 auto;
   width: 1000px;


  
}	
	#vikingosm {
  background-color: skyblue;
  text-align: center;
  position: center;
 
  opacity: 0.9;
  margin:auto;
  width:500px;

  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  
 margin: 0 auto;
   width: 1000px;
  
 
  box-shadow: 4px 4px 10px #000;


}



	#contenidovikingo {
  background-color: white;
  text-align: left;
  position: center;
 
  opacity: 1.0;
  margin:auto;
  width:1000px;

  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  
 margin: 0 auto;
   width: 1000px;
  
}	

#contenidovikingo1 {
  background-color: ffffff;
  text-align:center;
      
 position-float:left ;
 


  opacity: 1.0;
  hight:700;
  width: 1000;

  
  
  border: 0px solid #000000;
  
  
  padding:0px;
  


}	



#centrado{

text-align: center;
  position: center;
margin:1rem;

}

#agruparin{
width:500px;
background-color: white;
background-image: url("jpg");
background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:20%  ;
  text-align: center;
  position: center;
   margin-left: 5px;

  opacity: 0.9;
  margin:auto;
  width:700px;

  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  
 margin: 10 auto;
   width: 1000px  ;
   height:300 ;

}	


#agrupar1{

background-color: white;
background-image: url(".jpg");
background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:55%  ;
  text-align: center;
  position: center center;
 
  opacity: 1.0;
  margin:30;
  width:1000px;

  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  
 margin: 30 auto;
   width: 1100px;

 box-shadow: 6px 6px 10px #000;

}	

#agrupar2{

background-color: white;
background-image: url(".jpg");
background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size:90%  ;
  text-align: center;
  position: center center;




  opacity: 1.0;
  margin:30;
  width:1100px;

  margin: 1rem;
  padding: 1rem;
  border: 0px solid #ccc;
  
 margin: 30 auto;
   width: 1100px;

 box-shadow: 2px 2px 10px #666;
  

}	




#footer {			
  background-color: #000000;
  text-align: center;
  
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  opacity: 0.9;
  font-size:large;
  font-family:Arial, Helvetica, sans-serif;
  

  box-shadow: 2px 2px 10px #666;

}




#footer1 {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  opacity: 1.0;
  font-size:large;
box-shadow: 2px 2px 10px #666;
}



                 #logo{
background-color:black;
position: left ;

opacity: 0.9;
  left: 0;
  bottom: 0;
  width: 1000;
 
  color: white ;
  
 margin:  0;
   width: 100%;

text-shadow:
      1px 1px 1px #ffffff;


  



box-shadow: 2px 2px 4px #000000;
}

logo p{
text-align: center ;

}



}